[user]
	name = Bleart Nuredini
	email = nuredini.bleart@gmail.com
[core]
    editor = nvim
	autocrlf = input
    pager = delta
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[alias]
    diffall = "!f() { for file in $(git ls-files --others --exclude-standard); do git diff --no-index /dev/null \"$file\"; done; }; f"
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true # use n and N to move between diff sections
    side-by-side = true
[merge]
    conflictstyle = zdiff3
