# working with directories
alias d="cd ~/downloads"
alias b="cd ~/books"
alias ubt="cd ~/ubt/sem4"
alias ubtush='cd ~/ubt/sem3/shk2/ushtrimet/ush-tmp/src'
alias iw="cd /var/www/html/iw"
alias algs4-2="cd ~/code/j/algs4-2/src"
alias j="cd ~/code/j/randoms"
alias ...="cd ../.."
alias ....="cd ../../..."

# tmp
alias algo2="nvim ~/ubt/sem3/algo2/kollokviumi1.txt"
alias xampp="sudo /opt/lampp/manager-linux-x64.run && sudo apachectl stop"
alias main='javac Main.java && java Main'
alias sbd="cd ~/ubt/sem3/sbd/projekti"
alias play="cd ~/Code/playground" # for work!
alias ch="chromium-browser --disable-web-security --user-data-dir='./downloads/tmp'&"

# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias lsj='ls | grep .java'

# my aliases
alias v='nvim'
alias vim='nvim'
alias td='nvim ~/documents/todo.txt'
alias work='nvim ~/Dropbox/work-todo.txt'
alias notes='nvim ~/documents/notes.md'
alias images='sxiv -tf ~/media/photos/100andro/'
alias vimconf='nvim ~/.config/nvim/init.vim'
alias i3conf='nvim ~/.config/i3/config'
alias rmc='rm *.class'
alias r='ranger'
alias z='fzf --bind "enter:execute(zathura {}&)"'
alias netbeans='/usr/bin/netbeans/bin/./netbeans &'
alias algoide='sudo /opt/idea-IC-192.7142.36/bin/idea.sh'
alias ascii='nvim ~/downloads/ascii-codes.txt'

# volume aliases
alias am='amixer set Master 100'	# set max
alias ah='amixer set Master 50'		# set medium
alias a0='amixer set Master 0'		# set zero
alias vm='pactl set-sink-volume @DEFAULT_SINK@ 150%'
