# working with directories
alias d="cd ~/downloads"
alias b="cd ~/books"
alias j="cd ~/code/java/random"
alias play="cd ~/code/playground"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../..."
alias agent="cd ~/code/agent"
alias agency="cd ~/code/agency"
alias eauto="cd ~/code/ems-automation"
alias team="cd ~/code/cloud-team"
alias 1fe="cd ~/code/1fe"
alias ds="cd ~/code/ds/files/docker/"
alias nengine="cd ~/code/cloud-nil-engine"
alias pauto="cd ~/code/process-automation"
alias cstart="~/Code/ds/files/docker/start-env.sh -c start-all"
alias cstop="~/Code/ds/files/docker/start-env.sh -c stop-all"

# tmp
alias main='javac Main.java && java Main'
alias vw='cd ~/documents/notes && vim index.wiki'
alias work='vim ~/Documents/work.md'
alias code="codium"
alias p="python3"

# scripts
alias setupmonitor='~/code/shell/setup_monitor.sh'
alias unsetupmonitor='~/code/shell/unsetup_monitor.sh'
alias rleft='~/code/shell/rotate_left_monitor.sh'
alias rnormal='~/code/shell/rotate_normal_monitor.sh'

# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias lsj='ls | grep .java'

# my aliases
alias v='nvim'
alias vf='nvim $(fzf)'
alias vim='nvim'
alias td='nvim ~/documents/todo.md'
alias photos='sxiv -tf ~/media/photos/100andro/'
alias wa='sxiv -tf ~/media/photos/wa/'
alias wp='sxiv -tf ~/media/images/wallpapers/'
alias jodoro='java -cp ~/Projects/jodoro/target/classes outer.space.jodoro.GUI&'
# alias o='xdg-open $(fzf)'

# config files
alias vconf='cd ~/.config/nvim/ && nvim ~/.config/nvim/init.lua'
alias i3conf='nvim ~/.config/i3/config'
alias pconf='nvim ~/.config/polybar/config'
alias lfconf='nvim ~/.config/lf/lfrc'

alias rmc='rm *.class'
alias rmo='rm -rf *.out*'
alias rmt='rm *.aux *.log *.out'
alias r='ranger'
alias z='fzf --bind "enter:execute(swallow zathura {}&)"'
alias zb='cd ~/books && fzf --bind "enter:execute(swallow zathura {}&)"'
alias date2name='~/downloads/bin/date2name/date2name/date2name.py'

# volume aliases
alias am='amixer set Master 100'	# set max
alias ah='amixer set Master 50'		# set medium
alias a0='amixer set Master 0'		# set zero
alias vm='pactl set-sink-volume @DEFAULT_SINK@ 150%'

# tmux
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"

# git
alias gs="git status"
alias gl="git log --graph --all --oneline"
alias gd="git diff"
alias gp="git push origin head"
alias gfp="git push -f origin head"
